<!--typeEdit.html-->
<div >
    <div class="row">
        <div class="box col-lg-12">
            <div class="box-inner">
                <div class="box-header well">
                    <h2>常见风险编辑</h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-setting-alpha btn-round btn-default"><i
                                class="glyphicon glyphicon-cog"></i></a>
                        <a href="#"  class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
                <div class="box-content row" >
                    <div class="col-lg-12  ">
                        <div class="panel-heading">
                            <button class="btn btn-default btn-xs" ui-sref="risk.type" >
                                <span class="glyphicon glyphicon-backward"></span> 返回
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="update()" >
                                <span class="glyphicon glyphicon-upload"></span> 更新
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" >
                                <span class="glyphicon glyphicon-refresh"></span>重置
                            </button>
                        </div>
                        <div class="panel-body"  >
                            <table class="table" >
                                <tr>
                                    <td><strong>风险类型:&nbsp</strong>
                                        <textarea kendo-editor k-tools="[]"  ng-model="detail.name" ></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>所属组织:&nbsp</strong>
                                        <select ng-model="detail.organization" ng-options="organization.name as organization.name for organization in organizationList">
                                            <option value="">-- 请选择所属组织 --</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>风险描述:&nbsp</strong>
                                        <textarea kendo-editor k-tools="[]"  ng-model="detail.description"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>举例:&nbsp</strong>
                                        <textarea kendo-editor k-tools="[]" ng-model="detail.exsample"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>缓解措施:&nbsp</strong>
                                        <textarea kendo-editor k-tools="[]"  ng-model="detail.mitigationMeasure"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>应急措施:&nbsp</strong>
                                        <textarea kendo-editor k-tools="[]"  ng-model="detail.emergencyMeasure"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>