<!--edit.html-->
<div >
    <div class="row">
        <div class="box col-lg-12">
            <div class="box-inner">
                <div class="box-header well">
                    <h2>风险计划</h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-setting-alpha btn-round btn-default"><i
                                class="glyphicon glyphicon-cog"></i></a>
                        <a href="#"  class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
                <div class="box-content row" >
                    <div class="col-lg-12  ">
                        <div class="panel-heading">
                            <button class="btn btn-default btn-xs" ui-sref="risk.plan" >
                                <span class="glyphicon glyphicon-backward"></span> 返回
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="plan()" >
                                <span class="glyphicon glyphicon-upload"></span> 提交计划
                            </button>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="displayOther()" >
                                <span ng-class="display.class"></span> {{display.text}}
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" >
                                <span class="glyphicon glyphicon-refresh"></span>重置
                            </button>
                            {{riskG.message}}
                        </div>
                        <div class="panel-body"  >
                            <table class="table" >

                                <tr>
                                    <td><strong>风险项（名称）:&nbsp</strong>
                                        <textarea class="col-lg-12" ng-model="detail.name" ></textarea>
                                    </td>
                                </tr>
                                <tbody ng-show="display.value">
                                <tr>
                                    <td><strong>所属项目:&nbsp</strong>
                                        <select ng-model="detail.project" ng-options="project.name as project.name for project in riskG.projectList">
                                            <option value="">-- 请选择所属项目 --</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>风险类型:&nbsp</strong>
                                        <select ng-model="detail.riskType" ng-options="riskType.name as riskType.name for riskType in riskG.riskTypeList">
                                            <option value="">-- 请选择所属风险类型 --</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>风险情况:&nbsp</strong>
                                        <textarea  class="col-lg-12" ng-model="detail.riskContex"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>潜在影响:&nbsp</strong>
                                        <textarea class="col-lg-12" ng-model="detail.riskPotentialInfluence"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>发生条件:&nbsp</strong>
                                        <textarea  class="col-lg-12" ng-model="detail.riskCondition"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>风险状态:&nbsp</strong>
                                        {{detail.riskState}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>建议措施:&nbsp</strong>
                                        <textarea class="col-lg-12"  ng-model="detail.riskProposeMeasure"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>风险来源:&nbsp</strong>
                                        <textarea class="col-lg-12"  ng-model="detail.riskSource"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>风险征兆:&nbsp</strong>
                                        <textarea class="col-lg-12"  ng-model="detail.riskWarning"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>优先级:（通过下列选项得出）&nbsp</strong>
                                        {{detail.riskPriority=(riskPosibility.value?riskPosibility.value:0)*
                                        (riskDamage.value?riskDamage.value:0)*
                                        (riskUrgency.value?riskUrgency.value:0)}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>风险发生概率:&nbsp</strong>
                                        <select ng-model="riskPosibility" ng-options="posibility.name for posibility in posibilityList">
                                            <option value="">-- 请选择发生概率 --</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>风险危害程度:&nbsp</strong>
                                        <select ng-model="riskDamage" ng-options=" damage.name for damage in damageList">
                                            <option value="">-- 请选择危害程度 --</option>

                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>风险发生紧迫性:&nbsp</strong>
                                        <select ng-model="riskUrgency" ng-options="urgency.name for urgency in urgencyList">
                                            <option value="">-- 请选择发生紧迫性 --</option>

                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                                <tr><td><strong>风险计划:&nbsp</strong>
                                    <select ng-model="detail.riskPlanMeasure.planMeasureType" >
                                        <option value="" selected="selected">-- 请选择风险计划 --</option>
                                        <option value="接受风险">接受风险</option>
                                        <option value="转移风险">转移风险</option>
                                        <option value="规避风险">规避风险</option>
                                        <option value="观察风险">观察风险</option>
                                        <option value="缓解风险">缓解风险</option>
                                    </select>
                                </td>
                                </tr>
                                <tbody ng-if="detail.riskPlanMeasure.planMeasureType!=''">
                                <tr>
                                    <td><strong>计划负责人:&nbsp</strong>
                                        <textarea class="col-lg-12 col-md-12"  ng-model="detail.riskPlanMeasure.riskPlanMan"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>计划时间:&nbsp</strong>
                                        <textarea class="col-lg-12"  ng-model="detail.riskPlanMeasure.riskPlanTime"></textarea>
                                    </td>
                                </tr>
                                </tbody>

                                <tbody ng-if="detail.riskPlanMeasure.planMeasureType=='接受风险'">

                                <tr>
                                    <td><strong>风险接受理由:&nbsp</strong>
                                        <textarea class="col-lg-12"  ng-model="detail.riskPlanMeasure.remark"></textarea>
                                    </td>
                                </tr>

                                </tbody>

                                <tbody ng-if="detail.riskPlanMeasure.planMeasureType=='转移风险'">

                                <tr>
                                    <td><strong>风险转移措施:&nbsp</strong>
                                        <textarea class="col-lg-12"  ng-model="detail.riskPlanMeasure.remark"></textarea>
                                    </td>
                                </tr>

                                </tbody>

                                <tbody ng-if="detail.riskPlanMeasure.planMeasureType=='规避风险'">

                                <tr>
                                    <td><strong>风险规避措施:&nbsp</strong>
                                        <textarea class="col-lg-12"  ng-model="detail.riskPlanMeasure.remark"></textarea>
                                    </td>
                                </tr>


                                </tbody>
                                <tbody ng-if="detail.riskPlanMeasure.planMeasureType=='观察风险'">

                                <tr>
                                    <td><strong>风险观察内容:&nbsp</strong>
                                        <textarea class="col-lg-12"  ng-model="detail.riskPlanMeasure.remark"></textarea>
                                    </td>
                                </tr>

                                </tbody>
                                <tbody ng-if="detail.riskPlanMeasure.planMeasureType=='缓解风险'">

                                <tr><td><strong>风险缓解措施:&nbsp</strong>
                                    <textarea class="col-lg-12" ng-model="detail.riskPlanMeasure.riskMitigationMeasure"></textarea></td>
                                </tr>


                                <tr><td><strong>风险缓解计划启动时机:&nbsp</strong>
                                    <textarea class="col-lg-12" ng-model="detail.riskPlanMeasure.riskMitigationMeasureStartTime"></textarea></td>
                                </tr>

                                <tr><td><strong>风险应急措施:&nbsp</strong>
                                    <textarea class="col-lg-12" ng-model="detail.riskPlanMeasure.riskEmergencyMeasure"></textarea></td>
                                </tr>

                                <tr><td><strong>风险应急启动触发事件:&nbsp</strong>
                                    <textarea class="col-lg-12" ng-model="detail.riskPlanMeasure.riskEmergencyTrigger"></textarea></td>
                                </tr>


                                <tr>
                                <tr><td><strong>选择风险指示器:&nbsp</strong>
                                <select ng-model="detail.riskPlanMeasure.riskIndicator">
                                    <option value="" selected="selected">--请选择风险指示器--</option>
                                    <option value="成本指示器">成本指示器</option>
                                    <option value="进度指示器">进度指示器</option>
                                </select>
                                </td></tr>

                                <tr>
                                    <td><strong>指示器阀值:&nbsp</strong>
                                        <textarea class="col-lg-12"  ng-model="detail.riskPlanMeasure.riskIndicatorThresholdValue"></textarea>
                                    </td>
                                </tr>



                                </tbody>
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>