html{
    width: 1366px;
    margin: auto;
}
textarea{
    height: 100px;
    width: 100%;
}
.nav-margin{
    margin-top: 5px;
}
.nav-left-background{
    background:ghostwhite;
}
.nav-left-title{
    display: block;
    margin: auto;
    text-align: center;
}
.bule-back{
    background:#2fa4e7;
}
.nav-boder
{
    border-bottom: 0;
}

.page-header   {  margin:0; padding:30px;
    border-top-left-radius:5px; border-top-right-radius:5px; }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }

/* we will style the span as the circled number */
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px;
    border-radius:50%; }

/* active buttons turn light green-blue*/
#status-buttons a.active span   { background:#00BC8C; }
.nobodertop{
    border-top:none!important;
}

.box {
    margin-bottom: 10px;
}

.box-inner {
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);

}

.box-header {
    border: none;
    padding-top: 5px;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 3px 3px 0 0;
    height: 35px;
    min-height: 35px !important;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);

}

.box-header h2 {
    font-size: 15px;
    width: auto;
    clear: none;
    float: left;
    line-height: 25px;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.box-header h3 {
    font-size: 13px;
    width: auto;
    clear: none;
    float: left;
    line-height: 25px;
    white-space: nowrap;
}

.box-header h2 > i {
    margin-top: 1px;
}

.box-icon {
    float: right;
}

.box-icon a {
    clear: none;
    float: left;
    margin: 0 2px;
    height: 20px;
    width: 5px;
    margin-top: 1px;
}

.box-icon a i {
    margin-left: -6px;
    top: -1px;
}

.box-content {
    padding: 10px;
}

.btn-round {
    border-radius: 40px;
    font-size: 12px;
    padding-top: 4px;
}



footer {
    clear: both;
}




.navbar-inner .btn-group {
    margin: 7px 5px 0 5px;
}



.box-content .nav-tabs {
    margin-right: -10px;
    margin-left: -10px;
}




.box-content.buttons {
    min-height: 297px;
}




.bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
}
.bar   rect.selected {
    fill: green;
    shape-rendering: crispEdges;
}



.resize path {
    fill: #666;
    fill-opacity: .8;
    stroke: #000;
    stroke-width: 1.5px;
}
.selecting circle {
    fill-opacity: .2;
}

.selecting circle.selected {
    stroke: #f00;
}


.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .extent {
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

svg.mc{
    margin-left: 40px;
}


/* spc控制图的样式 */
.dot {
    fill: #fff;
    stroke: steelblue;
}
text.dot {
    fill: #fff;
    stroke: black;
    opacity:0;
}
g.dot:hover text.dot{
    fill: #fff;
    stroke: black;
    opacity:1;
}
path.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 3;
}
path.line_2 {
    fill: none;
    stroke: darkcyan;
    stroke-width: 3;
}
line._0 {
    fill: none;
    stroke: orangered ;
    stroke-width: 3;
}
line._1 {
    fill: none;
    stroke: yellowgreen;
    stroke-width: 3;
}
line._2 {
    fill: none;
    stroke: orangered ;
    stroke-width: 3;
}

.panel-body .table label{
    float: left;
}
.plotInput th,.plotInput td{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.plotInput td input,.plotInput td strong{
    width: 50px;
    display: inline-table;
}
.plotInput ,.plotDetail{
    display: block;
    margin: auto;
    width: 1051px;
    overflow-x: auto;
}
.plotDetail td{
    width: 50px;
}


