<!DOCTYPE html>
<html ng-app="spcRest">
<head>
<meta charset="UTF-8">
<title>Angular-SPC Restful API 测试</title>
<script src="../js/angular.js"></script>
<script src="../js/lodash.compat.min.js"></script>
<script src="../js/restangular.js"></script>
</head>
<body>
   <input ng-model="person.name" type="text" placeholder="输入测试字符串">
   <h1>Hello ,{{ person.name }}</h1>
   <div ng-controller="GetXSList">
       <input ng-model="spc.search" type="text" placeholder="输入api地址"/>
       <button ng-click="search()">GET</button>
       <input ng-model="spc.remove" type="text" placeholder="输入api地址"/>
       <button ng-click="remove()">delete</button>
       <input ng-model="spc.post" type="text" placeholder="输入api地址"/>
       <input ng-model="spcjson" type="textarea"/>
       <button ng-click="post()">post</button>
       <pre>{{spc.data | json}}</pre>
   </div>
</body>
<script type="text/javascript">
var app=angular.module('spcRest', ['restangular']);
app.factory('MessageService', ['Restangular', function(Restangular) {
var restAngular = Restangular.withConfig(function(Configurer) {
Configurer.setBaseUrl('/qpmtools/spc');
});

return {
	   get: function(resource) {
		   var getUrl=restAngular.all("");
           return getUrl.get(resource);
       },
       post:function(resource,json){
    	   var cUrl=restAngular.all(resource);
           return cUrl.post(json);
       },
       remove:function(resource){
    	   var removeUrl=restAngular.all(resource);
           return removeUrl.remove();
       }
};
}]);

app.controller("GetXSList",['$scope','MessageService',function($scope,MessageService)
                           {
	                            $scope.spc={"search":"xsplot/list"
	                            		};
	                            $scope.search=function()
	                            {
	                            	$scope.spc.data=MessageService.get($scope.spc.search).$object;
	                            };
	                           $scope.remove=function()
	                           {
	                     			alert($scope.spc.remove);
	                        	   $scope.spc.data=MessageService.remove($scope.spc.remove).$object;
	                           };
	                           $scope.post=function()
	                           {
	                     			alert($scope.spc.post);
	                        	   $scope.spc.data=MessageService.post($scope.spc.post,$scope.spcjson).$object;
	                           }
								
                           }]);

</script>
</html>