<!--detail.html-->
<div >
    <div class="row">
        <div class="box col-lg-12">
            <div class="box-inner">
                <div class="box-header well">
                    <h2>统计过程控制</h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-setting-alpha btn-round btn-default"><i
                                class="glyphicon glyphicon-cog"></i></a>
                        <a href="#"  class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
                <div class="box-content row" >
                    <div class="col-lg-12  ">
                        <div class="panel-heading">
                            <button class="btn btn-default btn-xs" ui-sref="spc">
                                <span class="glyphicon glyphicon-backward"></span> 返回</button>
                        </div>
                        <div class="panel-body" >
                            <table class="table" >
                                <tr>
                                    <td >
                                        <strong>控制图名称:&nbsp</strong>{{detail.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                        <strong>所属组织:&nbsp</strong>{{detail.project.organization.name}}
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                        <strong>所属项目:&nbsp</strong>{{detail.project.name}}
                                    </td>
                                </tr>
                                <tr ng-if="typeof(detail.input.sigma)!='undefined'&&detail.input.sigma!=null">
                                    <td >
                                        <strong>标准差（Sigma）:&nbsp</strong>{{detail.input.sigma}}
                                    </td>
                                </tr>
                            </table>
                            <div class="overflowframe">
                            <table class="plotDetail" >
                                <tr  >
                                    <td>
                                        <strong>{{detail.input.timeName}}</strong>
                                    </td>
                                    <td>
                                        <strong>{{detail.input.xName}}</strong>
                                    </td>
                                    <td ng-if="detail.type=='Z'||detail.type=='U'">
                                        <strong>{{detail.input.aName}}</strong>
                                    </td>

                                </tr>
                                <tr ng-repeat="inputTime in detail.input.time track by $index">
                                    <td >
                                        {{inputTime}}
                                    </td>
                                    <td ng-if="type!='XS'&&type!='XR'">
                                        {{detail.input.x[$index]}}
                                    </td>
                                    <td ng-if="type=='XS'||type=='XR'">
                                        {{detail.input.x[$index]|arrayDisplay}}
                                    </td>
                                    <td ng-if="detail.type=='Z'||detail.type=='U'">
                                        {{detail.input.a[$index]}}
                                    </td>
                                </tr>

                            </table>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="box col-lg-12">
            <div class="box-inner">
                <div class="box-header well">
                    <h2>{{type}}控制图</h2>

                    <div class="box-icon">
                        <a href="#" class="btn btn-setting-alpha btn-round btn-default"><i
                                class="glyphicon glyphicon-cog"></i></a>
                        <a href="#"  class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
                <div class="box-content row" >
                    <div class="col-lg-12  ">
                        <div class="panel-heading">

                        </div>
                        <div class="panel-body"  >
                          <!--  <svg  id="svg1">
                            </svg>
                            <svg  id="svg2" ng-hide="detail.type=='C'||detail.type=='Z'||detail.type=='U'">
                            </svg>
-->
                            <div  id="controlPlot" style="height:400px" >
                            </div>
                            <div  id="controlPlot2" style="height:400px" ng-show="type=='XS'||type=='XR'||type=='XmR'">
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
