<!--SPC管理主页面-->
<div ui-view>
    <div class="row">
        <div class="box col-lg-12">
            <div class="box-inner">
                <div class="box-header well">
                    <h2><i class="glyphicon glyphicon-globe"></i>统计过程控制工具</h2>
                    <div class="box-icon">
                        <a href="#"  class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content row" >
                    <div class="col-lg-12 box">
                        <select ng-change="choseO()" ng-model="spc.selectOrganization" ng-options="organization.name for organization in spc.organizationList">
                            <option value="">-- 请选择所属组织 --</option>
                        </select>
                        <select ng-change="choseP()" ng-model="spc.selectProject" ng-options="project.name for project in spc.projectList">
                            <option value="">-- 请选择所属项目 --</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div >
        <div class="row">
            <div class="box col-lg-12">
                <div class="box-inner">
                    <div class="box-header well">
                        <h2><i class="glyphicon glyphicon-list"></i>统计过程控制列表</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-setting-alpha btn-round btn-default"><i
                                    class="glyphicon glyphicon-cog"></i></a>
                            <a href="#"  class="btn btn-minimize btn-round btn-default"><i
                                    class="glyphicon glyphicon-chevron-up"></i></a>
                            <a href="#" class="btn btn-close btn-round btn-default"><i
                                    class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content row" >
                        <div class="col-lg-12  ">
                            <div class="panel-body"  >
                                <table class="table" >
                                    <div class="alert-danger" ng-if="spc.message!=''">{{spc.message}}</div>
                                    <tr>
                                        <th>控制分析图名</th>
                                        <th>控制图类型</th>
                                        <th>操作
                                            <button class="btn btn-success btn-xs" ui-sref="spc.create">
                                                <span class="glyphicon glyphicon-plus "></span>新建
                                            </button>

                                        </th>
                                    </tr>
                                    <tr ng-repeat="spcItem in spc.spcList">
                                        <td>{{spcItem.name}}</td>
                                        <td>{{spcItem.type }}图</td>

                                        <td nowrap>
                                            <button type="button" class="btn btn-primary btn-xs"
                                                    ui-sref="spc.detail({type:spcItem.type,id:spcItem.id})">
                                                <span class="glyphicon glyphicon-eye-open"></span> 查看
                                            </button>
                                            <button type="button" class="btn btn-warning btn-xs"
                                                    ui-sref="spc.edit({type:spcItem.type,id:spcItem.id})">
                                                <span class="glyphicon glyphicon-edit "></span> 编辑
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="spcG.remove(spc.id)">
                                                <span class="glyphicon glyphicon-trash"></span> 删除
                                            </button>

                                        </td>
                                    </tr>
                                    <tr>
                                        <th>共{{spc.spcList.length}}条</th>
                                        <td></td><td></td>
                                    </tr>

                                </table>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>